<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Documento Upload</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2>Upload Documento</h2>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>


					<form method="post" th:action="@{/upload}"
						enctype="multipart/form-data"
						th:object="${documentoIdentificacao}">

						<div class="form-group">
							<select name="tipo" th:field="*{tipo}">
								<option
									th:each="tipo : ${T(com.stefanini.avaliacao.modelo.Tipo).values()}"
									th:value="${tipo}" th:text="${tipo}"></option>
							</select>
						</div>



						<div class="form-group">

							<input type="file" name="file" class="form-control-file"  accept= "image/png, image/jpeg , image/tiff, application/pdf" >

						</div>

						<button type="submit" class="btn btn-primary">Upload
							Documento</button>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>